
*{
    font-family:'Comic Sans MS';
}

body{
    background-color: #595959;
    height: auto;
    width: auto;
    top: 0px;
}
/*--------------Generics-------------*/
/*custom border*/
input, fieldset, legend{
    padding: 2%;
    border: black 5px solid;
    border-radius: 9px;
    position: relative;    
}
/*audessurlignement*/
.upperline{
    text-decoration: overline black ;
}
/* custom out line table style*/
.table th, table{
    outline: solid black 3px;
    padding: 3px;
    margin: auto;  
    background-color: #c4c4c4;
    border-radius: 5px;
}
.table th{
    margin: 30px;    
}

/*-----------------------------------*/

/*--------------General----------------*/

fieldset{
    height: min-content;
    width: min-content;
    margin: 10% auto 0 auto;
    background-color: #a6a6a6;
    position: relative;
    padding-bottom: none;
}
legend{
    background-color: skyblue;
    margin: 0px auto;
    width: min-content;
    height: min-content;
    padding: 10px;
}
form{
    height: min-content;
    width: min-content;
    margin: 10px;
    padding: 0px;
    justify-content: center;
    /* centrage des éléments */
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;    
}
h1{
    position:relative;
    padding: auto;
    margin: auto;
    width: min-content;
    height: min-content;
    /*
    background: linear-gradient(side, left, mid,... steps colored, end_colored);
    */
    background: linear-gradient(to right, skyblue 0%, blue 10%, #000000 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.table *{
    outline: black 3px solid;
}

caption{
    padding: 10px;
    caption-side: top;
}



input[type=text]{
    width: max-content;
    height: min-content;
    margin: 6px auto;
    position: relative; 
    padding: 5px;   
}

/*-------- specific --------*/
.champsIn{
    width: max-content;
    height: min-content;
    margin: auto;
    position: relative;
    display: block;
    display: flex;
}

input[type=submit]{
    background-color: #ff000041;
    margin: 20px auto 0 auto;
    width: 60px;
}

.navL{
    float: left;
    left: 0px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;   
}
/* intervertir les couleurs des lignes avec php */
.line0{
    background-color: #c4c4c4;
}
.line1{
    background-color: #8b8b8b;
}
table .line1 td, table .line0 td{
    padding: 5px;
}
/* ----------------------- */

/*end page*/